#home-footer {
	padding: 60px 16px;
	background: #fff;
	text-align: left
}
#home-footer .footer-links {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: stretch;
	align-items: stretch
}
#home-footer .footer-links h6 {
	text-transform: uppercase;
	font-size: 15px;
	color: #444
}
#home-footer .footer-links ul {
	list-style-type: none;
	padding-left: 0;
	padding-top: 12px
}
#home-footer .footer-links ul li {
	margin: 8px 0;
	color: #777
}
#home-footer .footer-links ul li a {
	color: #777
}
#home-footer .footer-links ul li a:hover {
	color: #1c74e3
}
#home-footer .footer-links .footer-copyright {
	text-align: center;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: start;
	justify-content: flex-start
}
#home-footer .footer-links .footer-copyright p {
	margin-top: 12px;
	color: #777
}
#home-footer .footer-links .footer-copyright a {
	color: #777;
	font-weight: 600
}
#home-footer .footer-links .footer-copyright a:hover {
	color: #1c74e3
}
@media screen and (max-width:480px) {
#home-footer-social {
	text-align: center;
	margin-top: 18px
}
#home-footer {
	padding: 32px 4px!important
}
#home-footer .footer-links {
	-ms-flex-direction: column;
	flex-direction: column;
	text-align: center
}
#home-footer .footer-links h6 {
	margin-top: 20px;
	font-size: 16px
}
#home-footer .footer-links ul {
	margin-bottom: 20px
}
#home-footer .footer-copyright {
	margin-top: 40px
}
}
#home-wrapper {
	padding: 0
}
#home-wrapper a {
	text-decoration: none!important
}
.home-section-header {
	font-weight: 700;
	font-size: 32px;
	color: #333;
	text-align: center;
	margin: 44px;
	margin-top: 64px;
	-webkit-font-smoothing: antialiased
}
.home-section-subheader {
	font-size: 16px;
	line-height: 1.5;
	color: #666;
	text-align: center;
	margin-top: -20px;
	margin-bottom: 48px
}
@media screen and (max-width:480px) {
#home-wrapper .home-section-header {
	font-size: 7vw;
	margin: 28px 8px
}
.home-section-subheader {
	margin: 12px auto;
	font-size: 3.5vw
}
}
#home-navigation {
	position: fixed;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: center;
	justify-content: center;
	top: 0;
	left: 0;
	right: 0;
	height: 100px;
	background-color: transparent;
	z-index: 9999;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	padding: 0 1.5vw
}
#home-navigation a,
#home-navigation ul {
	margin: auto 4px;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s
}
#home-navigation.light {
	height: 60px;
	background-color: #fff;
	-webkit-box-shadow: 0 3px 30px 0 rgba(22,136,254,.2);
	box-shadow: 0 3px 30px 0 rgba(22,136,254,.2)
}
#home-navigation.light a,
#home-navigation.light ul {
	color: #1555aa
}
#home-navigation.dark {
	height: 100px;
	background-color: transparent
}
#home-navigation.dark a,
#home-navigation.dark ul {
	color: #fff
}
#home-navigation a:hover {
	background-color: hsla(0,0%,100%,.1);
	-webkit-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	transform: translateY(-2px)
}
#home-navigation a:focus {
	background-color: transparent
}
#home-navigation-wrapper {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 0 20px
}
#header-brand-logo {
	cursor: pointer;
	color: #233d4d;
	display: block;
	position: relative
}
#header-brand-logo img {
	margin: 6px;
	height: 48px;
	color: #fff!important
}
#get-started-for-free {
	font-weight: 600
}
#dashboard-button {
	border-radius: 4px;
	font-weight: 600;
	color: #036;
	border: .5px solid #fff;
	padding: 8px 20px;
	margin-left: 20px!important
}
#home-navigation-dropdown {
	display: none;
	visibility: hidden;
	background-color: transparent;
	border-width: 0
}
#home-navigation-menu {
	display: none
}
#home-header {
	width: 100%;
	text-align: center;
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	overflow: hidden
}
#home-header:after {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background-color: #1d4c8f;
	background-image: url("https: //firebasestorage.googleapis.com/v0/b/project-showcase-b739c.appspot.com/o/Background.jpg?alt=media&token=6a241114-c3ff-4cf4-9ee3-e5f454e491cd");
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;
	content: " ";
	z-index: -1;
	-webkit-filter: brightness(1.5);
	filter: brightness(1.5)
}
.Typist {
	margin-top: -20px!important;
	display: inline-block;
	font-weight: 400
}
.Typist, .Typist * {
	color: #fff!important
}
.Typist * {
	-webkit-font-smoothing: antialiased
}
.Typist .Cursor {
	color: transparent!important
}
.Typist i {
	margin: 8px
}
#slogan-wrapper-outer {
	width: 100%;
	padding: calc(70px + 8vh) 2vw 10vh;
	position: relative;
	-ms-flex-positive: 1;
	flex-grow: 1;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center
}
#slogan {
	font-weight: 700;
	font-size: 38px;
	color: #fff;
	-webkit-font-smoothing: antialiased
}
#slogan,
#slogan-description {
	text-rendering: optimizeLegibility;
	-webkit-animation: 1s fadeFromAbove;
	animation: 1s fadeFromAbove
}
#slogan-description {
	font-weight: 300;
	font-size: 16px;
	line-height: 1.75;
	max-width: 600px;
	margin: 32px auto;
	color: #e2e2e2
}
#slogan-buttons {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-animation: 1s fadeFromAbove;
	animation: 1s fadeFromAbove
}
#slogan-buttons #start-now-btn {
	background-color: #fff;
	border-radius: 4px;
	font-weight: 600;
	font-size: 16px;
	color: #1c74e3;
	text-align: center;
	padding: 14px 20px!important;
	-webkit-font-smoothing: antialiased;
	-webkit-box-shadow: 0 3px 10px 0 rgba(0,0,0,.3);
	box-shadow: 0 3px 10px 0 rgba(0,0,0,.3);
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
	margin: 0 16px;
	line-height: 1.4
}
#slogan-buttons #start-now-btn:hover {
	-webkit-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	transform: translateY(-2px)
}
#slogan-buttons #start-now-btn i {
	font-weight: 400
}
#demo-wrapper {
	text-align: center;
	overflow: hidden;
	-webkit-animation: 1s fadeFromBelow;
	animation: 1s fadeFromBelow
}
#demo-wrapper img {
	width: 110%;
	margin-left: -5%
}
.or-sign {
	font-size: 13px;
	color: #fff!important;
	margin: 16px 0
}
.or-sign, .social-login-buttons {
	-webkit-animation: 1s fadeFromAbove;
	animation: 1s fadeFromAbove
}
.social-login-buttons button {
	padding: 6px 16px;
	font-size: 14px;
	background-color: #fff;
	border: none;
	color: #333!important;
	cursor: pointer;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
	font-weight: 600
}
.social-login-buttons button:hover {
	-webkit-transform: translateY(-1px);
	-ms-transform: translateY(-1px);
	transform: translateY(-1px)
}
#go-down-indicator {
	position: absolute;
	bottom: 20px;
	left: 50%;
	font-size: 24px;
	-webkit-animation: point-animation .5s infinite;
	animation: point-animation .5s infinite;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
	cursor: pointer
}
@-webkit-keyframes point-animation {
0% {
	bottom: 14px
}
to {
	bottom: 20px
}
}
@keyframes point-animation {
0% {
	bottom: 14px
}
to {
	bottom: 20px
}
}
#examples {
	padding: 8px!important;
	background-color: rgba(22,136,254,.03)
}
.sample-portfolio-wrapper {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

